# Data files
data/*.csv
data/*.xlsx

# Credentials
config/config.ini
*.env
.env
secrets.json
credentials.txt

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# VS Code   
.vscode/

# OS
.DS_Store
Thumbs.db